a, a > code {
  color: #e4002b;
  font-weight: bold;
  text-decoration: none;
}

.remark-code-line-highlighted     { background-color: #fce300 ; }

.remark-slide-content {
  border-right: 11px solid #500000;
  border-left: 11px solid #500000;
  padding: 1em 2em 1em 2em
}

.remark-slide-content > h1 {
  font-weight: normal;
  margin-top: 10px;
  margin-left: -00px;
}

h1, h2, h3 {
  font-weight: normal;
  color: #500000;
}

.inverse {
  border-left: 11px solid #fff;
  border-right: 11px solid #fff;
  background-color: #500000;
  color: #d6d6d6;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

table {
  margin: auto;
  font-size: 90%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.shrink {
  margin: auto;
  width: 90%;
}

.enlarge{
  margin: auto;
  width: 110%;
}